NEXT_PUBLIC_BRAND_EMAIL=licettstyle@gmail.com
NEXT_PUBLIC_WHATSAPP_NUMBER=5703169739942
GOOGLE_SHEETS_SPREADSHEET_ID=1k89uYizzD5b8WO52CH774AGiV0PZHKYNuOp_c6oaAwc
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=dj7ij0oss
CLOUDINARY_API_KEY=951813446623981
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CLARITY_ID=
NEXT_PUBLIC_META_PIXEL_ID=
