NEXT_PUBLIC_BRAND_EMAIL=licettstyle@gmail.com
NEXT_PUBLIC_WHATSAPP_NUMBER=5703169739942
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_CLARITY_ID=
NEXT_PUBLIC_META_PIXEL_ID=
